@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

$colors: (
    blue: hsl(223, 87%, 63%),
    pale-blue: hsl(223, 100%, 88%),
    light-red: hsl(354, 100%, 66%),
    gray: hsl(0, 0%, 59%),
    very-dark-blue: hsl(209, 33%, 12%)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}

$desktop: 1000px;
$small: 500px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin small {
    @media (max-width: #{$small}) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 15vh;
    font-size: 20px;

    @include desktop {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    #dashboard {
        width: 100%;
        object-fit: contain;
        margin-bottom: 20vh;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 65px;

        h1 {
            margin-top: 88px;
            margin-bottom: 50px;
            @include small {
                margin-top: 44px;
                margin-bottom: 25px;
            }
        }

        span {
            font-weight: lighter;
            color: rgba(0,0,0,0.5);
        }

        p {
            margin: 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 145px;

        @include small {
            margin-bottom: 75px;
        }

        @include desktop {
            flex-direction: row;
        }

        input, button {
            height: 80px;
            border-radius: 50px;
            width: 100%;
        }

        .input-and-error {

            height: fit-content;

            @include desktop {
                width: 70%;
                margin-right: 17px;
            }


            .error-msg {
                margin: 0;
                text-align: center;
                margin-top: 5px;
                font-style: italic;
                color: color(light-red);
                display: none;
            }

            .error-msg.error {
                display: block;
            }

            input {
                border-color: color(pale-blue);
                border-style: solid;
                padding-left: 65px;
                font-size: 1.6rem;
                @include small {
                    font-size: 1.2rem;
                    padding-left: 20px;
                }

                
                &::placeholder {
                    color: color(pale-blue);
                }
            }

            .input.error {
                border-color: color(light-red);
            }
        }
        button {
            background-color: color(blue);
            border-style: none;
            font-size: 1.6rem;
            color: white;
            margin-top: 20px;

            @include desktop {
                margin-top: 0;
                width: 30%;
            }

            &:hover {
                cursor: pointer;
            }
        }

    }

    footer {
        .icons {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 60px;
            a {
                color: color(blue);
                border-style: solid;
                border-width: 2px;
                border-color:hsla(223, 87%, 63%, 0.2);
                border-radius: 50%;
                width: 62px;
                height: 62px;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-decoration: none;
                
                &:hover {
                    color: white;
                    background-color: color(blue);
                }
            }
        }
        p {
            color: color(gray);
            margin-top: 0;
            text-align: center;
        }
    }
}